/* Bootsnipps */
/* Table Filter: http://bootsnipp.com/snippets/featured/easy-table-filter */
/* Table: http://bootsnipp.com/snippets/featured/striped-table-30 */

/*    --------------------------------------------------
  :: General
  -------------------------------------------------- */

body {
  font-family: 'Gudea', 'Roboto', sans-serif;
  color: #353535;
  background-color: rgba(224,224,224,0.4);
}
h1, h2 {
  text-align: center;
  font-family: 'Rancho', 'Gudea', sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 50px;
}
.content .content-footer p {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}
.yellow-heading {
  color: #ef1d5d;
}
.btn {
  font-weight: bold;
  font-size: 18px;
}
.navbar {
  font-size: 20px;
}

/*  --------------------------------------------------
  :: Table
  -------------------------------------------------- */
.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  font-size: 18px;
}
.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
.custab-text, .custab-select, .custab-date {
  width: 80%;
  height: 100%;
}


/*  --------------------------------------------------
  :: Sign in/up
  -------------------------------------------------- */

.login-button
{
  background: #4ca700 !important;
  font-family: 'Gudea', sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
}

#login-buttons a{
  background-color: none !important;
  color: #000 !important;
  padding: 14px 25px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-family: 'Gudea', sans-serif !important;
  border: 1px solid transparent;
}
