<template name="editModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Detalles Item</h4>
        </div>

        <div class="modal-body">
          <p>Nombre: SOAT</p>
          <p>Categoria: Casa</p>
          <p>Tipo: Impuesto</p>
          <p>Pagar en: 01/01/2018</p>
          <p>Periodicidad: Mensual</p>
          <p>Valor: $350,000.00</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">OK</button>
        </div>

      </div>
    </div>
  </div>
</template>
